.wrapper {
    width: 100%;
    display: block;
    font-size: 0;
}

.wrapperMargin {
    max-width: 999px;
    margin: 0 auto;
}

.wrapperPadding {
    padding: 0 20px;
}

.wrapperSpacer {
    font-size: 16px;
}

.wrapperFullWidth {
    width: 100%;
    display:block;
}

.wrapperDuo {
    width: calc(100%/2);
    display: inline-block;
    vertical-align: top;
}

.wrapperTrio {
    width: calc(100%/3);
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 850px) {
    .wrapperTrio {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 650px) {
    .wrapperDuo,
    .wrapperTrio {
        width: 100%;
        display: block;
    }
}

body {
    line-height: 1.8em;
    font-family: Helvetica, sans-serif;
}

header .logo {
    width: 100%;
    max-width:100px;
    max-height:90px;
}

.titleText {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.brandText {
    color: #562877;
}

.backgroundPink {
    background-color: #e6007e;
    color: #FFF;
}

.backgroundBlue {
    background-color: #562877;
    color: #FFF;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dot.dotDark {
    background-color: #552877;
}

.dot.dotLight {
    background-color: #cbbed6;
}

.flex1 {
    flex: 2 2 20em;
}

.flex2 {
    flex: 1 1 20em;
}

.paddingS {
    padding: 10px 0;
}
.paddingM {
    padding: 40px 0;
}
.paddingL {
    padding: 60px 0;
}
.paddingXL {
    padding: 80px 0;
}

.minHeight {
    min-height: 160px;
}

.borderBlue {
    /* box-shadow: -10px 10px #552877; */
    box-shadow: -0.8rem 0.7rem #552877, 7px -1px 24px 3px #ccc;
}

.contentMinHeight {
    min-height: 140px;
}

.titleMinHeight {
    min-height: 55px;
}

.discoverFocus img {
    width: 100%;
    max-width:50px;
    max-height:50px;
}

.discoverBG {
    background-image: url("../images/backdrop-left.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.highlightList li:before {
    content: "\2022";
    color: #552877;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: 30px;
}

blockquote {
    position: relative;
}

blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #562877;
    /*Positioning*/
    position: absolute;
    left: -30px;
    top:-5px;
  }

  blockquote::after{
    /*Reset to make sure*/
    content: "\201D"; /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #562877;
    /*Positioning*/
    position: absolute;
    right: 10px;
  }

.btn {
    max-height: 50px;
    background-color: #562877;
    color: #FFF;
    margin-top: 15px;
    max-width: 125px;
}

.btn span  {
    display: block;
    padding: 11px 10px;
}

.btnArrow {
    width: 100%;
    max-width:50px;
    max-height:50px;
}

.hero {
    background-image: url("../images/backdrop-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
}

